@use '../helpers' as *;
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrrat';
}
.swiper-slide {
  width: auto !important; /* Не позволяй swiper сам задавать ширину */
  flex-shrink: 0;
  display: flex;
  justify-content: center;
}

.coffee_hot__inner_section_type {
  width: 300px; /* Ограничь размер карточки */
  background-color: #fff;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.coffee_hot__inner_section_type_img img {
  width: 100%;
  height: auto;
  border-radius: 6px;
}
